*{
    margin: 0;
}
p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.foot{ 
    position: sticky;
    background-color: #2b5797; 
    height: 100px;
   left: 0;
   bottom: 0;
   width: 100%;
}
.head1{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #aac0f0;
    color: wheat;
    /* box-shadow: 0px -5px 5px rgb(117, 116, 116); */
    /* background: linear-gradient(to bottom, #64dcc2 0%, #6cdcfb 100%); */
}
.nav-bg{
    display: flex;
    background-color: #2b5797;
    color: #141515;
    height: 100px;
    font-size: 24px;
    font-weight: lighter;
    box-shadow: 0px 5px 5px rgba(117, 116, 116, 0.84);
    /* background: linear-gradient(to bottom, #64dcc2 0%, #6cdcfb 100%); */

}
.nav-bg-co{
    display: flex;
    flex-wrap: wrap;
    background-color: #2b5797;
    color: #141515;
    width: 800px;
}
@media screen and (max-width: 577px) {
    .head1 {
        display:flex;
        height: 50px;
        width: 100%;
        background-color: #99b9ff;
    }
    .nav-bg{
        display: flex;
        background-color: #2b5797;
        height:max-content;
        box-shadow: 0px 5px 5px rgb(117, 116, 116);

    }
    .nav-bg-co{
        display: flex;
        background-color: #edf1f7;
        width: 300px;
    }
}
.anchorTag{
    display: flex;
    height: 40px;
    width: 40px;
    margin: 10px;


}
.socialImg{
    display: flex;
    height: 40px;
    width: 40px;
    /* margin: 10px; */
}
@media screen and (max-width: 577px) {
    .socialImg {
        display:flex;
        height: 30px;
        width: 30px;
    }
    .anchorTag{
        display: flex;
        height: 30px;
        width: 30px;
    }
}
.socialImgIn{
    display: flex;
    padding-left:30px;
    /* margin:5px ; */
}
@media screen and (max-width: 577px) {
    .socialImgIn {
        display:flex;
        padding-left:10px;
    }
}

/* .navbar{
    height: 100px;
} */
.my-row{
    background-color: bisque;
    height: 400px;
}
.font-st{
    font-family:sans-serif;
    font-size: 1.5 rem;
    font-weight: bolder;
}

/* @media screen and (max-width: 577px) {
    .card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 20px;
      height: 500px;  
      width: 500px;
    }
}    */

.a{
    height: 200px;
    width: 200px;
    color: red;
    background-color: red;
}

@media screen and (max-width: 577px) {
    .a {
        height: 500px;
        width: 500px;
        background-color: blue;
    }
} 
.slide1{
    display: flex;
    height: auto;
    width: 100%;
}
@media screen and (max-width: 577px) {
    .slide1{
        display: flex;
      height: 90%;  
      width: 100%;
    }
  }  
 
.textSlide{
    font-size: 10px;
}  
.collapse{
    height: auto;
}

.para{
    display: flex;
    padding: 10px;
}
.card-img{
    position: relative;
    display: flex;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 5px rgba(139, 137, 137, 0.944);

}

/* media *******************************************************************************************************/
.marq{
    position: relative;
    left: 250px;
    top: 15px;
    display: flex;
    font-style: italic;
    height: 30px;
    width: 1200px;
    color: black;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(29, 28, 4, 0.511);
}
@media screen and (max-width: 577px) {
    .marq {
        height: 0;
        width: 0;
    }
}
.utube-vid-center{
    display: flex;
    justify-content: center;
}
.utube-vid{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
}
@media screen and (max-width: 577px) {
    .utube-vid {
        height: 300px;
        width:100%;
        padding: 10px;
    }
} 
.mediaHeading{
    font-family: Georgia, serif;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    /* margin-left: 50px; */
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width: 577px) {
    .mediaHeading{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: bolder;
}
}
.media-card{
    position: relative;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 577px) {
    .media-card{
        position: relative;
        display: flex;
        justify-content: center;
        width: 200px;
    }
} 

/* Prayer******************************************************************************************************* */

.heading1{
    position: relative;
    display: flex;
    /* margin-left: 100px; */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    text-decoration:underline;
    font-size: 50px;
    color: #2b5797;
    margin-bottom: 20px;
}
@media screen and (max-width: 577px) {
    .heading1{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        line-height: 50px;
    }
}

.mainFormDiv{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 577px) {
    .mainFormDiv{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.formDiv{
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(../image/creative-abstract-geometric-background-style-five_553575-25.avif);
    background-size: 100%;

}
.lab{
    position: relative;
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    height: 30px;
    width: 300px;
    padding-left: 50px;
    color: #0a0a0a;
}
@media screen and (max-width: 577px) {
    .lab{
        position: relative;
        display: flex;
        font-size: 20px;
        font-style: italic;
        font-family: sans-serif;
        height: 30px;
        width: 300px;
        padding-left: 0px;
    }
}

.input-lab{
    position: relative;
    display: flex;
    height: 40px;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 20px; 
    border: 2px solid #2b5797;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
    /* box-shadow: rgba(191, 191, 196, 0.933) 0px 30px 60px -12px inset, rgba(233, 224, 224, 0.862) 0px 18px 36px -18px inset; */
    box-shadow: rgba(218, 215, 215, 0.992) 0px -10px 8px -9px inset,5px 5px 10px rgba(139, 137, 137, 0.616);
}
@media screen and (max-width: 577px) {
    .input-lab{
        position: relative;
        display: flex;
        height: 40px;
        width: 320px;
        margin-left: 0px;
        margin-bottom: 20px;
        border: 2px solid #2b5797;
        border-radius: 5px;
        /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
    box-shadow: rgba(218, 215, 215, 0.992) 0px -10px 8px -9px inset,5px 5px 10px rgba(139, 137, 137, 0.616);

    }
} 

.input-lab-text{
    position: relative;
    display: flex;
    height: 200px;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 20px;
    border: 2px solid #2b5797;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
    box-shadow: rgba(218, 215, 215, 0.992) 0px -10px 8px -9px inset,5px 5px 10px rgba(139, 137, 137, 0.616);


}
@media screen and (max-width: 577px) {
    .input-lab-text {
        position: relative;
        display: flex;
        height: 150px;
        width: 320px;
        margin-left: 0px;
        margin-bottom: 20px;
        border: 2px solid #2b5797;
        border-radius: 5px;
         /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
        box-shadow: rgba(218, 215, 215, 0.992) 0px -30px 16px -18px inset,5px 5px 10px rgba(139, 137, 137, 0.616);


    }
} 

.button-submit{
    position: relative;
    display: flex;
    height: 50px;
    width: 600px;
    font-family: sans-serif;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    margin-left: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616);

}
@media screen and (max-width: 577px) {
    .button-submit{
        position: relative;
        display: flex;
        height: 50px;
        width: 320px;
        font-family: sans-serif;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        background-color: #020202;
        margin-left: 0px;
        border-radius: 20px;
        margin-bottom: 20px;
        color: white;
    box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616);

    }
}

.prayer{
    position: relative;
    display: block;
    top: 0px;
    left: 700px;
    height: 540px;
    width: 800px;
    border-radius: 0 15% 0 15% ;
    box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616);

}
@media screen and (max-width: 577px) {
    .prayer{
        height: 0px;
        width: 0px;
        /* justify-content: center;
        align-items: center; */
    }    
}
/* slide @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

* {box-sizing: border-box;}
      body {font-family: Verdana, sans-serif;}
      .mySlides {display: none;}
      img {vertical-align: middle;}
      
      /* Slideshow container */
      .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
      }
      .slide-new {
        max-width: 100%;
        height: 600px;
        position: relative;
        margin: auto;
    }
      @media screen and (max-width: 577px) {
        .slide-new {
            max-width: 100%;
            height: 250px;
            position: relative;
            margin: auto;
        }
    } 
    
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 30px;
        font-weight: bolder;
        font-style: italic;
        padding: 8px 12px;
        position: absolute;
        top: 200px;
        width: 100%;
        text-align: center;
      }
      @media screen and (max-width: 577px) {
        .text {
            color: #f2f2f2;
            font-size: 20px;
            font-weight: bolder;
            font-style: italic;
            padding: 8px 12px;
            position: absolute;
            top: 100px;
            width: 100%;
            text-align: center;
          }
    } 
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      @media screen and (max-width: 577px) {
        .dot {
            height: 0;
            width: 0;
            
          }
        }
      
      .active1 {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 2.5s;
      }
      
      @keyframes fade {
        from {opacity: .6} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }

/* contact************************************************************************************************************* */

.headingCon{
    position: relative;
    display: flex;
    /* margin-left: 100px; */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    text-decoration:underline;
    font-size: 50px;
    color: #2b5797;
    margin-bottom: 20px;
}
@media screen and (max-width: 577px) {
    .headingCon{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        line-height: 50px;
    }
}

.contactheading{
    position: relative;
    display: flex;
    /* margin-left: 100px; */
    text-align: center;
    justify-content: center;
    /* text-decoration:underline; */
    font-size: 30px;
    color: #2b5797;
    margin-bottom: 20px;
}
.mainFormDivCon{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 577px) {
    .mainFormDivCon{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.formDivCon{
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(../image/Pngtree—colorful\ triangle\ abstract\ business\ background_1458557.jpg);
    background-size: 100%;

}
.labCon{
    position: relative;
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    height: 30px;
    width: 300px;
    padding-left: 50px;
    color: #0a0a0a;
}
@media screen and (max-width: 577px) {
    .labCon{
        position: relative;
        display: flex;
        font-size: 20px;
        font-style: italic;
        font-family: sans-serif;
        height: 30px;
        width: 300px;
        padding-left: 0px;
    }
}

.input-labCon{
    position: relative;
    display: flex;
    height: 40px;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 20px; 
    border: 2px solid #2b5797;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
    /* box-shadow: rgba(191, 191, 196, 0.933) 0px 30px 60px -12px inset, rgba(233, 224, 224, 0.862) 0px 18px 36px -18px inset; */
    box-shadow: rgba(218, 215, 215, 0.992) 0px -10px 8px -9px inset,5px 5px 10px rgba(139, 137, 137, 0.616);
}
@media screen and (max-width: 577px) {
    .input-labCon{
        position: relative;
        display: flex;
        height: 40px;
        width: 320px;
        margin-left: 0px;
        margin-bottom: 20px;
        border: 2px solid #2b5797;
        border-radius: 5px;
        /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
    box-shadow: rgba(218, 215, 215, 0.992) 0px -10px 8px -9px inset,5px 5px 10px rgba(139, 137, 137, 0.616);

    }
} 

.input-lab-textCon{
    position: relative;
    display: flex;
    height: 200px;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 20px;
    border: 2px solid #2b5797;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
    box-shadow: rgba(218, 215, 215, 0.992) 0px -10px 8px -9px inset,5px 5px 10px rgba(139, 137, 137, 0.616);


}
@media screen and (max-width: 577px) {
    .input-lab-textCon {
        position: relative;
        display: flex;
        height: 150px;
        width: 320px;
        margin-left: 0px;
        margin-bottom: 20px;
        border: 2px solid #2b5797;
        border-radius: 5px;
         /* box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616); */
        box-shadow: rgba(218, 215, 215, 0.992) 0px -30px 16px -18px inset,5px 5px 10px rgba(139, 137, 137, 0.616);


    }
} 

.button-submitCon{
    position: relative;
    display: flex;
    height: 50px;
    width: 600px;
    font-family: sans-serif;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    margin-left: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616);

}
@media screen and (max-width: 577px) {
    .button-submitCon{
        position: relative;
        display: flex;
        height: 50px;
        width: 320px;
        font-family: sans-serif;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        background-color: #020202;
        margin-left: 0px;
        border-radius: 20px;
        margin-bottom: 20px;
        color: white;
    box-shadow: 5px 5px 10px rgba(139, 137, 137, 0.616);

    }
}

.mapSize{
    display: flex;
    height: 500px;
    width: 100%;
}
      
