*{
    margin: 0;
}
.head1{
    height: 60px;
    width: 100%;
}
.my-row{
    background-color: bisque;
    height: 400px;
}
.font-st{
    font-family: "Copperplate";
}
.nav-bg{
    background-color: #202238fc;
}
/* @media screen and (max-width: 577px) {
    .card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 20px;
      height: 500px;  
      width: 500px;
    }
}    */

.a{
    height: 200px;
    width: 200px;
    color: red;
    background-color: red;
}

@media screen and (max-width: 577px) {
    .a {
        height: 500px;
        width: 500px;
        background-color: blue;
    }
} 

@media screen and (max-width: 577px) {
    .slide1 {
      height: 90%;  
      width: 100%;
    }
  }  
 
.textSlide{
    font-size: 10px;
}  
.collapse{
    height: auto;
}